body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1178px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1917 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1918 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1919 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:19px;
}
#u1920 {
  position:absolute;
  left:2px;
  top:2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:42px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1921 {
  position:absolute;
  left:0px;
  top:19px;
  width:360px;
  height:42px;
}
#u1922 {
  position:absolute;
  left:2px;
  top:13px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u1923 {
  position:absolute;
  left:20px;
  top:0px;
  width:320px;
  height:19px;
}
#u1924 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u1925 {
  position:absolute;
  left:12px;
  top:32px;
  width:9px;
  height:16px;
}
#u1926 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:43px;
}
#u1927 {
  position:absolute;
  left:78px;
  top:19px;
  width:203px;
  height:43px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#1E1E1E;
}
#u1928 {
  position:absolute;
  left:2px;
  top:8px;
  width:199px;
  word-wrap:break-word;
}
#u1929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:127px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1929 {
  position:absolute;
  left:0px;
  top:58px;
  width:360px;
  height:127px;
}
#u1930 {
  position:absolute;
  left:2px;
  top:56px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u1931 {
  position:absolute;
  left:12px;
  top:185px;
  width:334px;
  height:84px;
  text-align:left;
  line-height:20px;
}
#u1932 {
  position:absolute;
  left:12px;
  top:10px;
  width:320px;
  word-wrap:break-word;
}
#u1933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:346px;
}
#u1933 {
  position:absolute;
  left:12px;
  top:279px;
  width:334px;
  height:345px;
  text-align:left;
  line-height:20px;
}
#u1934 {
  position:absolute;
  left:12px;
  top:10px;
  width:320px;
  word-wrap:break-word;
}
#u1935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1935 {
  position:absolute;
  left:0px;
  top:594px;
  width:360px;
  height:46px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1936 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg);
  -ms-transform:rotate(-180deg);
  transform:rotate(-180deg);
  word-wrap:break-word;
  transform-origin:178px 11px;
  -ms-transform-origin:178px 11px;
  -moz-transform-origin:178px 11px;
  -webkit-transform-origin:178px 11px;
}
#u1937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u1937 {
  position:absolute;
  left:447px;
  top:106px;
  width:384px;
  height:32px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u1938 {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  word-wrap:break-word;
}
#u1939_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:103px;
  height:22px;
}
#u1939p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:94px;
  height:2px;
}
#u1939p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:105px;
  height:22px;
}
#u1939p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:2px;
}
#u1939p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:13px;
  height:22px;
}
#u1939p002 {
  position:absolute;
  left:77px;
  top:-10px;
  width:22px;
  height:22px;
}
#u1939p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:33px;
  height:42px;
}
#u1939.compound {
  width:0px;
  height:0px;
}
#u1939 {
  position:absolute;
  left:345px;
  top:120px;
  width:92px;
  height:2px;
  color:#299FD6;
}
#u1940 {
  position:absolute;
  left:2px;
  top:-7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1941_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:178px;
  height:22px;
}
#u1941p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:169px;
  height:2px;
}
#u1941p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:180px;
  height:22px;
}
#u1941p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:2px;
}
#u1941p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:13px;
  height:22px;
}
#u1941p002 {
  position:absolute;
  left:152px;
  top:-10px;
  width:22px;
  height:22px;
}
#u1941p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:33px;
  height:42px;
}
#u1941.compound {
  width:0px;
  height:0px;
}
#u1941 {
  position:absolute;
  left:270px;
  top:204px;
  width:167px;
  height:2px;
  color:#299FD6;
}
#u1942 {
  position:absolute;
  left:2px;
  top:-7px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u1943 {
  position:absolute;
  left:447px;
  top:191px;
  width:384px;
  height:32px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u1944 {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  word-wrap:break-word;
}
#u1945_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:148px;
  height:22px;
}
#u1945p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:139px;
  height:2px;
}
#u1945p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:150px;
  height:22px;
}
#u1945p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:2px;
}
#u1945p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:13px;
  height:22px;
}
#u1945p002 {
  position:absolute;
  left:122px;
  top:-10px;
  width:22px;
  height:22px;
}
#u1945p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:33px;
  height:42px;
}
#u1945.compound {
  width:0px;
  height:0px;
}
#u1945 {
  position:absolute;
  left:300px;
  top:224px;
  width:137px;
  height:2px;
  color:#299FD6;
}
#u1946 {
  position:absolute;
  left:2px;
  top:-7px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u1947 {
  position:absolute;
  left:447px;
  top:211px;
  width:420px;
  height:43px;
  font-family:'PingFangHK-Regular', 'PingFang HK';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u1948 {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  word-wrap:break-word;
}
#u1949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:46px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1949 {
  position:absolute;
  left:38px;
  top:1409px;
  width:360px;
  height:46px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1950 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg);
  -ms-transform:rotate(-180deg);
  transform:rotate(-180deg);
  word-wrap:break-word;
  transform-origin:178px 11px;
  -ms-transform-origin:178px 11px;
  -moz-transform-origin:178px 11px;
  -webkit-transform-origin:178px 11px;
}
#u1951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangHK-Semibold', 'PingFang HK Semibold', 'PingFang HK';
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u1951 {
  position:absolute;
  left:447px;
  top:608px;
  width:731px;
  height:32px;
  font-family:'PingFangHK-Semibold', 'PingFang HK Semibold', 'PingFang HK';
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u1952 {
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  word-wrap:break-word;
}
#u1953_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:103px;
  height:22px;
}
#u1953p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:94px;
  height:2px;
}
#u1953p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:105px;
  height:22px;
}
#u1953p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:2px;
}
#u1953p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:13px;
  height:22px;
}
#u1953p002 {
  position:absolute;
  left:77px;
  top:-10px;
  width:22px;
  height:22px;
}
#u1953p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:33px;
  height:42px;
}
#u1953.compound {
  width:0px;
  height:0px;
}
#u1953 {
  position:absolute;
  left:345px;
  top:622px;
  width:92px;
  height:2px;
  color:#299FD6;
}
#u1954 {
  position:absolute;
  left:2px;
  top:-7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
